<!-- flex slider begin -->
<section id="slider-sec" class="slider-reg">
  <div class="main-flex-slider" slider>
    <ul class="slides">
      <li>
        <figure>
          <!--<% image_tag("/icons/icon.gif", class: "menu_icon") %>-->

          <%= image_tag "slider-1.jpg", class: "img-responsive" %>
          <figcaption class="slider-overlay ">
            <div class="slider-text animated fadeInDown">
              <h1>Get more done in less time</h1>
              <p>
                Our data helps you spend your time more effectively
              </p>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
        	<%= image_tag "slider-2.jpg", class: "img-responsive" %>
          <figcaption class="slider-overlay">
            <div class="slider-text">
              <h1>Understand your schedule</h1>
              <p>
                Finally a calendar that gives you what you need.
              </p>
            </div>
          </figcaption>
        </figure>
      </li>
      <!--<li>
        <figure>
          <img src="images/public/img-3.jpg" class="img-responsive" alt="slider-img-1">
          <figcaption class="slider-overlay">
            <div class="slider-text">
              <h1>We grow with you</h1>
              <p>
                We're available via email, phone, even text- 365 days a year, 24 hours a day.
              </p>
            </div>
          </figcaption>
        </figure>
      </li>-->
    </ul>
  </div>
</section><!--main flex slider end--> 

<section class="main-features">
  <div class="container full-container">
    <div class="feature-row row">
        <div class="col-md-3 feature" feature>
          <div class="feature-icon-holder">
            <span class="ion-filing feature-icon"></span>
          </div>
          <span class="feature-title">
            Organize
          </span>
          <p class="feature-content">
            Never forget an appointment or lose sight of a personal deadline
          </p>
        </div>

        <div class="col-md-offset-1 col-md-4 feature" feature>
          <div class="feature-icon-holder">
            <span class="ion-calendar feature-icon"></span>
          </div>
          <span class="feature-title">
            Track
          </span>
          <p class="feature-content">
            Always be up-to-date with your tasks
          </p>
        </div>

        <div class="col-md-offset-1 col-md-3 feature" feature>
          <div class="feature-icon-holder">
            <span class="ion-clock feature-icon"></span>
          </div>
          <span class="feature-title">
            Reflect
          </span>
          <p class="feature-content">
            Know how you really spend your time
          </p>
        </div>
      </div>
    </div>
  </div>
    
  
</section>