<% title "CalTime" %>
<div>
	<% if !user_signed_in? %>
		<!-- to render home page -->
		<%= render 'static_pages/splash' %>
	<% else %>
		<div ng-controller="CalendarCtrl">
			<div class="container calendar-container">
				<div class="row">
					<div class="col-md-8">
						<div class="calendar" id='calendar'></div>
					</div>
					<div class="col-md-4">
						<div class="row task-list-header">
							<div class="col-md-8">
								<span class="task-list-label">
									<%= current_user.name %>'s Task List
								</span>
							</div>
							<div class="col-md-2 col-md-offset-2">
								<!-- Standard button -->
								<a ng-click="createTask()" class="link-cursor">
								<i class="icon ion-plus"></i>
							</a>
							</div>
						</div>

						<div class="row">
							<div id="bar-container" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto"></div>
						</div>

						<tabset justified="true">
						    <tab heading="Tasks">
						    	<div class="row row-item" ng-repeat="task in tasks">
									<div class="col-md-2">
										<a ng-click="taskDone(task, $index)" class="link-cursor">
											<i class="icon ion-checkmark"></i>
										</a>
									</div>
									<div class="col-md-8">
										{{task.name}} - {{ task.date | date : 'dd MMMM yyyy'}}
								</div>

									<div class="col-md-2">
										<!-- Standard button -->
										<a ng-click="inspectTask(task)" class="link-cursor">
											<i class="icon ion-eye"></i>
										</a>
									
									</div>
								</div>
						    </tab>
						    <tab heading="Upcoming Events">
						    	<div class="row row-item" ng-repeat="event in displayEvents">
						    		<div class="col-md-2">
										<a ng-click="deleteEvent(event, $index)" class="link-cursor">
											<i class="icon ion-trash-b"></i>
										</a>
									</div>
									<div class="col-md-8">
										{{event.name}} - {{ event.date | date : 'dd MMMM yyyy'}}
									</div>

									<div class="col-md-2">
										<!-- Standard button -->
										<a ng-click="editEvent(event)" class="link-cursor">
											<i class="icon ion-eye"></i>
										</a>
									
									</div>
								</div>
						    </tab>
						</tabset>
					</div>
				</div>

				
				
			</div>
		</div>

	<% end %> 
</div>

