<div class="signup">
<%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
		<div class="container signup-field">
			<div class="row">
				<span class="signup-label">Log in</span>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<%= f.text_field :email, :placeholder => "Email", :type => "email", class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.text_field :password, :placeholder => "Password", :type => "password", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
				<%= f.submit "Log in", class: "btn btn-primary rounded-button center-block" %>
			</div>
		</div>
	<% end %>
</div>